.cardInnerWrapper {
  .header,
  .infoBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      margin: 0px 0px 0px 20px;
      color: #fff;
      font-size: 11px;
      font-weight: 600;
    }
  }
  .amountBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    :nth-child(1) {
      font-weight: 700;
      font-size: 16px;
    }
    :nth-child(2) {
      font-size: 11px;
    }
    p {
      color: #fff;
      margin: 0px;
    }
  }
  .infoBlock {
    justify-content: space-between;
    margin-top: 10px;
    p {
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      color: #000;
    }
  }
  .midHeading {
    font-size: 14px;
    margin: 10px 0px;
    color: #fff;
  }
  .header {
    svg {
      background-color: aqua;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 5px;
    }
  }
}
.color1 {
  .header {
    svg {
      background-color: #007534;
    }
  }
  .button {
    background-color: #007534;
  }
  .infoBlock {
    svg {
      color: #007534;
    }
  }
}
.color2 {
  .header {
    svg {
      background-color: #429e6b;
    }
  }
  .button {
    background-color: #429e6b;
  }
  .infoBlock {
    svg {
      color: #429e6b;
    }
  }
}
.color3 {
  .header {
    svg {
      background-color: #747500;
    }
  }
  .button {
    background-color: #747500;
  }
  .infoBlock {
    svg {
      color: #747500;
    }
  }
}
.color4 {
  .header {
    svg {
      background-color: #d5d619;
    }
  }
  .button {
    background-color: #d5d619;
  }
  .infoBlock {
    svg {
      color: #d5d619;
    }
  }
}
.color5 {
  .header {
    svg {
      background-color: #feff00;
    }
  }
  .button {
    background-color: #feff00;
  }
  .infoBlock {
    svg {
      color: #feff00;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cardInnerWrapper .midHeading {
    font-size: 9px;
  }
  .cardInnerWrapper .header p {
    font-size: 7px;
  }
  .cardInnerWrapper .amountBlock :nth-child(1) {
    font-size: 11px;
  }
}
